<div class="container">
<div class="row mb-3 mt-3">
<div class="col-sm-12">
<a routerLink="/add">Add New Record</a>
   <!--button type="button" (click)="addNewRow()" class="btn btn-primary">Add new Row</button></div></div-->
  
   <div class="row mb-3">
<div class="col-sm-12">
    <input *ngIf="config.filtering" placeholder="Filter all columns"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)"/>
  </div>
</div>
<div class="row">
<div class="col-sm-12">
<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<pagination *ngIf="config.paging && rows.length>0 "  class="pagination-sm" [(ngModel)]="page" [totalItems]="length" 
[itemsPerPage]="itemsPerPage"
     [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
</div>
</div>
</div>